<form action="/student" method="POST">
    <input type="text" name="first_name" placeholder="First Name">
    <input type="text" name="last_name" placeholder="Last Name">
    <input type="text" name="prev_occupation" placeholder="Last Job">
    <input type="text" name="hometown" placeholder="Home Town">
    <input type="submit">
</form>